.header-box {
	width: 100%;
	margin: 0 auto;
	padding: 0 17px;
	line-height: 36px;
	font-size: 14px;
	color: #afb5c0;
	background-color: #33373e;
	box-sizing: border-box;

	.header-user-company-name {
		float: left;
		.header-user-heart {
			margin: 0 9px;
		}
		.header-user-companyname-a {
			color: #afb5c0;
		}

		.header-company-status {
			display: inline-block;
			height: 20px;
			line-height: 20px;
			padding: 0 4px;
			margin: 8px 0 8px 10px;
			background: #999999;
			border-radius: 2px;

			a {
				color: #fff;
			}
		}
	}



	&:after {
		content: ' ';
		display: block;
		width: 0;
		height: 0;
		clear: both;
	}
}
